.counter-box .icon {
    font-size: 50px;
    /* color: #fff; */
}
.counter-box h2 {
    font-size: 50px;
}
/* 
.counter-box h2,
.counter-box h4 {
    color: #fff;
} */

.home-news .content h6 {
    font-size: 20px;
    line-height: 1.4em;
}
.home-news {
    transition: 0.6s all;
}
.home-news:hover {
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
}
/*---------
https://i.ibb.co/fn5rr8j/auto1.webp
https://i.ibb.co/r07qCk9/cutting1.webp
https://i.ibb.co/3yc3xnf/decoration1.webp
https://i.ibb.co/bJHSTyD/electric1.webp
https://i.ibb.co/yR1gLMn/garden1.webp
https://i.ibb.co/ZghRQXj/measure1.webp
https://i.ibb.co/3Sh0KTd/plumbing1.webp
https://i.ibb.co/ydyBzZs/power1.webp
https://i.ibb.co/hs46fzj/safty1.webp

*/
