.summery ul {
    list-style: circle;
    margin: 0;
    padding: 0;
}
.summery ul li {
    width: 33.33%;
    display: inline-block;
    margin-bottom: 10px;
}
.slide-content h2 {
    font-size: 60px;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    .summery ul li {
        width: 50%;
    }
    .slide-content h2 {
        font-size: 45px;
    }
}
